<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Italiana&family=Lato:ital@1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to Express Pizza</h1>
    <h2>Specialty Pizzas</h2>
    <nav>
      <ul>
        <li><a href="/specialty?name=Anchovy+Lover's&price=15">Anchovy Lover's</a></li>
        <li><a href="/specialty?name=Paleo+Pizza&price=20">Paleo Pizza</a></li>
        <li><a href="/specialty?name=Paleo+Pizza&price=10">Dessert Pizza</a></li>
      </ul>
    </nav>
    <h2>Custom Pizza</h2>
    <a href="/build-pizza">Build your own!</a>
    <h2>Leave a review</h2>
    <a href="/review-form">Click here to leave a review</a>
    <img src="/pizza-slice.svg" alt="pizza svg" class="pizza-img" />
  </body>
</html>